# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
# remote_theme: mmistakes/so-simple-theme
locale: ch-CN #en-US
title: "luckti"
description: "知行合一"
baseurl: # the subpath of your site, e.g. "/blog"
url: "https://blog.luckticloud.com" # the base hostname & protocol for your site e.g. "https://mmistakes.github.io"
logo: /imgs/logo.png # path of site logo, e.g. "/imgs/logo.png"
date_format: "%Y-%m-%d"
read_time: true # reading time estimates, e.g. true
words_per_minute: 50
mathjax: true # MathJax equations, e.g. true
google_analytics: # Google Analytics id, e.g. "UA-NNNNNNNN-N"
disqus:
  shortname: # Disqus shortname, e.g. "my_disqus_shortname"
twitter:
  username: # site's Twitter username, e.g. "mmistakes"

# Liquid
liquid:
  error_mode: strict

# Build settings
permalink: /posts/:year/:month-:day-:title
markdown: kramdown
kramdown:
  input: GFM
# feed:
#   path: atom.xml

# Pagination - https://jekyllrb.com/docs/pagination/
paginate: 5
paginate_path: /page:num/

# Search
search_full_content: true # can have performance implications for large sites

# Taxonomy pages
category_archive_path: "/categories/#"
tag_archive_path: "/tags/#"

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-paginate
  - jekyll-mermaid

# Collections
# collections:
#   prjs:
#     output: true
#     permalink: /:collection/:path/
# Front Matter Defaults
defaults:
  # Posts defaults
  - scope:
      path: "_posts"
      type: posts
    values:
      layout: post
      share: false
  # - scope:
  #     path: "_prjs"
  #     type: prjs
  #   values:
  #     layout: post
  #     share: false

# Footer Links
footer_links:
  - title: Github - luckticloud
    url: https://github.com/luckticloud
    icon: fab fa-github-square
  # - title: Feed
  #   url: atom.xml
  #   icon: fas fa-rss-square
